.red-bg {
  background-color: rgb(212, 87, 74);
}

.blue-bg {
  background-color: rgb(81, 156, 216);
}

.gray-bg {
  background-color: rgb(230, 230, 230);
}

.yellow-bg {
  background-color: rgb(230, 172, 91);
}

#nav-bg{
  background-color:rgb(212, 87, 74);
}

.footer {
  background-color: black;
  bottom: 0;

}

.nav-ul li {
  padding-left:34px;
  margin-top: 5px;
  font-size: 20px;
}

.red-color {
  color: rgb(212, 87, 74);

}

.white-color {
  color: white;
}

.jumbotron1 {
  padding-top: 110px;
}

.nav-ul li a {
  text-decoration:none;
  color: white;
}

.logo {
  width: 100px;
  height: 100px;
}

li {
  list-style-type: none;
}

.jumbotron {
  background-image: url("https://images.adsttc.com/media/images/5ecd/d4ac/b357/65c6/7300/009d/large_jpg/02C.jpg?1590547607");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  height: 490px;
  }

  .input-jumbitron{
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
    
  }

  .btn-jumbitron {
    width: 300px;
    height: 40px;
    background-color: rgb(212, 87, 74);
    border-color: rgb(212, 87, 74);
    border-radius: .25rem;
  }

 .button-input {
    background-color:rgba(230, 230, 230, 0.836);
    width: 75%;
    margin: 0 auto;
    padding: 20px;
  }

  .img-main {
    height: 380px;
  }

  .text-main {
    width: 835px;
  }

  .main {
    margin-top: 20px;
    padding-left: 20px;
  }

  .description-text {
    margin-left: 10px;
    width: 73%;
  }

  .footer-icon {
    display: none;
  }

     
  .Subscribe {
    display: none;
  }

  @media only screen and (min-width: 700px) {
    .text-main {
      padding-left: 10px;
      padding-right: 30px;
      margin-top: 35px;
      line-height: 25px;
      width: 635px;
    }

    .main {
      margin-top: 20px;
      padding-left: 20px;
    }

  }

 @media only screen and (max-width: 680px) {
    .img-main {
      display:none;
    }

    .text-main {
      text-align: center;
      font-family: georgia;
    }   

    .img-dis {
      width: 200px;
    }
  
    .main {
      text-align: center;
    }    
  }

@media only screen and (min-width: 1200px) {
  .img-main {
    display:block;
    padding-right: 40px;
    justify-content:end;
  }

  .text-main {
    padding-left: 200px;
    padding-right: 40px;
    margin-top: 15px;
    line-height: 32px;
  }

  .footer-socials {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .footer-socials1 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 5px;

  }

  .input-button {
    display: flex;
    justify-content: center;
  }

  .input-jumbitron {
    width: 600px;
  }

  .btn-jumbitron {
    width: 190px;
  }

  .description {
    width: 75%;

  }

  .description-text {
    padding-left: 20px;
    padding-top: 30px;
    line-height: 200px;
    width: 100%;
  }

  .Subscribe {
    display: block;

  }

  .footer-icon {
    display: block;
  }

}

.img-main img {
  height: 390px;
  margin-top: 15px;
  padding-left: 40px;
}

.description {
  background: #f7f7f7;
  margin: 40px auto;
}

.font-h2 {
  font-family: georgia;
}

.house-imgs {
  height: 100%;
  width: 100%;
} 

.house-listing {
  padding: 0;
  margin: 0;
}

.house-listing-text {
  font-family: georgia;
  font-size: 14px;
  font-weight: 200;
}

.house-listing-text a {
  text-decoration: none;
  color:rgba(8, 8, 8, 0.863);
}

.text-on-img{
  bottom: 0;
  background-color: rgb(212, 87, 74);
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.search-bar input {
  height: 40px;
  width: 400px; 
}

.form-controls {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding-left: 10px;
}

.btn-search {
  height: 40px;
  margin-top: 20px;
}

.btn-footer {
    width: 180px;
  }

.footer-ul li {
  padding-left:34px;
  margin-top: 5px;

}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-h6 h6 {
  color: rgb(158, 184, 172);
  text-decoration: none;
  padding-left: 5px;

}
